NEXT_PUBLIC_API_BASE_URL=your-backend-api-endpoint-for-browser      # For example: "http://localhost:8000/api/"
API_INTERNAL_BASE_URL=your-backend-api-endpoint-for-docker          # For example: "http://backend:8000/api/"