DJANGO_SETTINGS_MODULE=settings-mode        # <- use cityscope.settings.local for local development and use cityscope.settings.production for production
DJANGO_DEBUG=true-or-false-for-debug-mode   # <- use 1 for True and 0 for False
SECRET_KEY=your-django-secret-key
POSTGRES_DB=name-of-your-db
POSTGRES_USER=username-of-your-db
POSTGRES_PASSWORD=password-of-your-db
POSTGRES_HOST=cityscope-postgres            # <- name of db container
POSTGRES_PORT=5432